<ul class="metismenu list-unstyled mm-show" id="side-menu">
    <li class="menu-title">Menu</li>

    <li class="mm-active">
        <a href="javascript: void(0);" class="waves-effect active">
            <i class="bx bx-file"></i>
            <span>Starter Page</span>
        </a>
    </li>

    <li>
        <a href="javascript: void(0);" class=" waves-effect">
            <i class="bx bx-layout"></i>
            <span>Horizontal</span>
        </a>
    </li>


    <li class="menu-title">Pages</li>

    <li>
        <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="bx bx-user-circle"></i>
            <span>Authentication</span>
        </a>
        <ul class="sub-menu mm-collapse" aria-expanded="false">
            <li><a href="javascript: void(0);">Login</a></li>
            <li><a href="javascript: void(0);">Register</a></li>
            <li><a href="javascript: void(0);">Recover Password</a></li>
            <li><a href="javascript: void(0);">Lock Screen</a></li>
        </ul>
    </li>

    <li>
        <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="bx bx-share-alt"></i>
            <span>Multi Level</span>
        </a>
        <ul class="sub-menu mm-collapse" aria-expanded="true">
            <li><a href="javascript: void(0);">Level 1.1</a></li>
            <li><a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
                <ul class="sub-menu mm-collapse" aria-expanded="true">
                    <li><a href="javascript: void(0);">Level 2.1</a></li>
                    <li><a href="javascript: void(0);">Level 2.2</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li>
    <a href="javascript: void(0);" class="has-arrow waves-effect">
        <i class="bx bx-user-circle"></i>
        <span>Soporte</span>
    </a>
 
</li>

</ul>