<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado su ticket generado es :, <%= @ticket.id %>!</h1>
    <h1>por su caso :, <%= @ticket.title %>!</h1>
    <p>Gracias estaremos pronto en contacto!</p>
  </body>
</html>